html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}
#column1 {
  height: 100vh;
  background-color: #f1f2b5;
  background: linear-gradient(to right, #135058, #f1f2b5);
  text-align: center;
  color: white;
}
#heading {
  display: flex;
  align-items: center;
}
#head1 {
  font-size: 30px;
  color: white;
  padding-left: 40px;
  padding-top: 40px;
}
#head2 {
  font-size: 20px;
  color: white;
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
#body {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}
#body1 {
  text-align: center;
  font-size: 44px;
  margin-top: 100px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: 500;
}
#body2 {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}
.line {
  color: white;
  width: 150px;
  height: 5px;
  background-color: white;
  border-radius: 72px;
}
#searchbox {
  padding: 15px;
  border-radius: 8px;
  border: none;
}
.click {
  background-color: #135058;
  color: white;
  padding: 10px 35px;
  font-size: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#column1 p {
  font-size: 60px;
  margin: 20px;
}
