#mega-container {
  display: flex;
}
#column1 {
  width: 60%;
  height: 700px;
  background-color: red;
}
#heading {
  display: flex;
  align-items: center;
}
#head1 {
  font-size: 30px;
  color: white;
  padding-left: 40px;
  padding-top: 40px;
  background-color: aqua;
}
#head2 {
  background-color: black;
  font-size: 20px;
  color: white;
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
#body {
  display: flex;
  flex-direction: column;
}
#body1 {
  text-align: center;
  font-size: 30px;
  margin-top: 200px;
  border-bottom: green solid 5px;
  padding-bottom: 20px;
}
#body2 {
  text-align: center;
  padding-top: 30px;
}
#column2 {
  width: 40%;
  height: 700px;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
}
#section1 {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
#section2 {
  display: flex;
  justify-content: space-around;
  padding-top: 300px;
}
#temp {
  width: 100px;
  height: 100px;
  background-color: plum;
  text-align: center;
}
